@font-face {
    font-family: 'hind';
    src: url('static/fonts/hind/Hind-Regular.ttf') format('truetype');
    font-family: 'cinzel';
    src: url('staticsFiles/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
    font-family: 'Yellowtail';
    src: url('staticsFiles/fonts/Yellowtail/Yellowtail/Yellowtail-Regular.ttf');
    font-family: 'Kiwi Maru';
    src: url('staticsFiles/fonts/KiwiMaru-Regular.ttf')

}


*{
    padding: 0;
    margin: 0;
}

.narbar {
    width: 100%;
    height: 300px;
    background-color: yellow;
}

.narbar-conteiner{
    width: 100%;
    height: 50px;
    display: fixed;
}

.narbar-conteiner ul{
    width: 100%;
    height: 50px;
    padding: 0;
    text-align: center;
}

.narbar-conteiner ul li{
    display: inline-block;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:15px;
    text-align: center;
}
.narbar-conteiner ul li a{
    font-family:"hind";
    text-decoration: none;
    
}

.presentation{
    width: 100%;
    height: 250px;
    background-color:cyan;
    object-fit: cover;
}

.presentation-img{
    width: 50%;
    height: 150px;
    background-color:red;
    display: inline-block;
    float: left;
    margin-top: 50px;
    
}

.presentation-text{
    width: 50%;
    height: 150px;
    background-color:blue;
    display: inline-block;
    float: right;
    margin-top: 50px;

    
}

.presentation-text p{
    font-family: 'Yellowtail', cursive;
    font-size:25px;
    margin-right:30px;
    margin-top:7px;
}



.presentation-img div{
    height: 150px;
    width:150px;
    
}

.presentation-img div img{
    height: 150px;
    width: 150px;
}

.content{
    height: 600px;
    width: 100%;
    background-color:cadetblue;
    
}
.content-div{
    height:600px;
    
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

.iam{
    height: 400px;
    width: 40%;
    display: inline-block;
    float:left;
    background-color: #EA8225;
    
}
.iam-p1{
    text-align:center;
    font-size:23px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 3px solid grey;
    

}
.iam-p2{
    font-size: 18px;
}

.content-div2{
    height:500px;
    width: 60%;
    display: inline-block;
    background-color: #EAC325;
}

.education{
    height:100px;
    width: 100%;
    background-color: #2CC6C1;

}
.education-institutions{
    width: 100%;
    height: 120px;
    background-color: #2C77C6;
}
.education-institutions-years1{
    width: 20%;
    height:35px;
    display:inline-block;
    float:left;
    background-color:red;
}
.education-institutions-names1{
    width: 80%;
    height:35px;
    display:inline-block;
    float:right;
    background-color:palevioletred;

}
.education-institutions-years2{
    width: 20%;
    height:35px;
    display:inline-block;
    float:left;
    background-color:palevioletred;
}
.education-institutions-names2{
    width: 80%;
    height:35px;
    display:inline-block;
    float:right;
    background-color:red;

}

.education-institutions-years3{
    width: 20%;
    height:35px;
    display:inline-block;
    float:left;
    background-color:red;
}
.education-institutions-names3{
    width: 80%;
    height:35px;
    display:inline-block;
    float:right;
    background-color:palevioletred;

}

